<!DOCTYPE html>
<html>
<head>
    <title>Listar Empleados</title>
</head>
<body>
    <div>
        <a href="/">Listar Empleados</a> |
        <a href="/registrar_empleado/">Registrar Empleados</a> |
        <a href="/crear_prestamo/">Crear Prestamo</a> |
        <a href="/listar_prestamo/">Listar Prestamo</a> |
    </div>
    <h1>Listar Empleados</h1>
    <table>
        <tr>
            <th>RUT</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Comuna</th>
        </tr>
        {% for empleado in empleados %}
        <tr>
            <td>{{ empleado.RUT_empleado }}</td>
            <td>{{ empleado.nombre_empleado }}</td>
            <td>{{ empleado.apellido_empleado }}</td>
            <td>{{ empleado.direccion_empleado }}</td>
            <td>{{ empleado.Comuna.nombre_comuna}}</td>
            <td>
                <a href="{% url 'actualizar_empleado' RUT_empleado=empleado.RUT_empleado %}">
                    <button>Actualizar</button>
                </a>
                <a href="{% url 'eliminar_empleado' RUT_empleado=empleado.RUT_empleado %}">
                    <button>Eliminar</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>